BETTER_AUTH_SECRET=412a038ba03ea31c2486db8231ead0b14d8cf86f41a91be1afee4599faefe060
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>